.about {
  min-height: 90vh;
  padding: 0 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin: 30px;
  }
  p {
    text-indent: 15px;
    font-size: 20px;
  }
}

@media screen and (max-width:1024px) {
  .about{
    padding: 0 10vw;
  }
}
